# Server Configuration
PORT=5001
NODE_ENV=development

# JWT Secret Key (Change this to a random string in production)
JWT_SECRET=Gtr8e+LFUW9L9Gg51biJuHJ7pBgumdTVBS5t

# JWT Expiration
JWT_EXPIRES_IN=24h

# Database
DB_PATH=./database/school_equipment.db

# CORS Origin (Frontend URL)
CORS_ORIGIN=http://localhost:3000
